[Unit]
Description=SentientZone HVAC Controller
After=network.target

[Service]
Type=simple
Environment=SZ_BASE_DIR=/home/pi/sz
Environment=SZ_USER=pi
ExecStart=${SZ_BASE_DIR}/venv/bin/python ${SZ_BASE_DIR}/main.py
WorkingDirectory=${SZ_BASE_DIR}
Restart=on-failure
User=${SZ_USER}
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

